<launch>
  <!-- ARG -->
  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>
  <arg name="lr" default="left"/>
  <arg name="base_path" default="$(find aruco_yujie)/bags/" />
  <arg name="bag_name" default="example_aruco_whycon_13-53-03" />

  <!-- NODE -->
<!-- /mynteye/left_rect/camera_info
/mynteye/left_rect/image_rect -->
<node pkg="rosbag" type="play" name="player" output="screen" args="-r 0.8 -l $(arg base_path)$(arg bag_name).bag" />
  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <!-- <remap from="/camera/camera_info" to="/mynteye/$(arg lr)_rect/camera_info" />
    <remap from="/camera/image_rect_color" to="/mynteye/l$(arg lr)_rect/image_rect" /> -->
    <remap from="/camera/camera_info" to="/mynteye/right_rect/camera_info" />
    <remap from="/camera/image_rect_color" to="/mynteye/right_rect/image_rect" />
  </node>

  <node name="transformer" type="transformer" pkg="whycon" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find whycon)/launch/whycon_mynt_leftright.rviz" />
</launch>
