<launch>
  <!--REFERENCE-->
  <!-- https://wiki.ros.org/cv_camera -->
  <!-- ARGS-->
  <arg name="device_id" default="0" />
  <!-- default_camera_info_url = "file://${ROS_HOME}/camera_info/${NAME}.yaml"-->
  <arg name="calib_file_path" default="file://$(find cv_camera)/config/trust_webcam/camera.yaml" />
  <arg name="node_start_delay" default="1.0" />

  <!--roslaunch cv_camera cv_camera_view.launch device_id:=1  -->
  <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen" >
    <param name="device_id" value="$(arg device_id)" />
    <param name="camera_info_url" value="$(arg calib_file_path)" />
  </node>

  <!-- image_raw -->
  <node name="image_view_raw" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/cv_camera/image_raw" />
    <param name="autosize" value="true" />
  </node>

  <!-- image_rect_color -->
  <!-- 
    ROS_NAMESPACE=cv_camera rosrun image_proc image_proc
    rosrun image_view image_view image:=cv_camera/image_rect_color
  -->
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="cv_camera" 
  launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "
  />

  <node name="image_view_rect" pkg="image_view" type="image_view" respawn="false" output="screen" 
  launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "
  >
    <remap from="image" to="/cv_camera/image_rect_color" />
    <param name="autosize" value="true" />
  </node>
</launch>
