<launch>
  <!-- ARG -->
  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>
  <arg name="output_debug" default="True" />

  <!-- NODE -->
  <group ns="cv_camera">
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <remap from="/camera/camera_info" to="/cv_camera/camera_info" />
    <remap from="/camera/image_rect_color" to="/cv_camera/image_rect_color" />
  </node>

  <node name="transformer" type="transformer" pkg="whycon" output="screen"/>
  
  <group if="$(arg output_debug)">
    <node pkg="rqt_image_view" type="rqt_image_view" name="result_img" args="/whycon/image_out" />
  </group>
</launch>
