<launch>
  <arg name="xscale" default="1.0"/>
  <arg name="yscale" default="1.0"/>

  <group ns="cv_camera">
    <node pkg="image_proc" type="image_proc" name="image_proc" />
  </group>

  <node name="set_axis" type="set_axis" pkg="whycon" output="screen">
    <param name="xscale" value="$(arg xscale)"/>
    <param name="yscale" value="$(arg yscale)"/>
    <remap from="/camera/image_rect_color" to="/cv_camera/image_rect_color" />


  </node>

  <node name="whycon_set_axis_image" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/set_axis/image" />
    <param name="autosize" value="true" />
  </node>
</launch>
