<launch>
  <!-- ARG -->
  <arg name="name" default="whycon"/>
  <arg name="targets" default="1"/>

  <!-- NODE -->
  <group ns="cv_camera">
    <node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

  <node name="whycon" type="whycon" pkg="whycon" output="screen">
    <param name="targets" value="$(arg targets)"/>
    <param name="name" value="$(arg name)"/>
    <remap from="/camera/camera_info" to="/cv_camera/camera_info" />
    <remap from="/camera/image_rect_color" to="/cv_camera/image_rect_color" />
  </node>

  <node name="transformer" type="transformer" pkg="whycon" output="screen"/>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find whycon)/launch/whycon.rviz" />
</launch>
